[2018-11-29 15:23] Kisgus opened #3 "Implement support for ERC20 tokens"

[2018-11-29 15:24] Kisgus opened #4 "Implement support for Christmas Cards Messages"
## This is a ✨ [Cryptoxmas.xyz](https://cryptoxmas.xyz/) bounty✨
**Every bounty DAI paid out will be matched as a donation to this** [Venezuelan Giveth Campaign](https://release.giveth.io/campaigns/5c05357a4a1382778fc07cef)

## Userstory

**As a user I want to**

Be able to type a message

**So that I can**

include a christmas message to the receiver of the Christmas Card

## Dapp story

**As a d

[2018-11-29 15:24] Kisgus opened #5 "Implement integration with Giveth"

[2018-11-29 15:25] Kisgus opened #6 "Support opensea integration"

[2018-11-29 15:25] Kisgus opened #7 "Landing page v1"
Will up it to https://seichris.github.io/santa-landingpage/

## Design

https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Christmas-NFTs?node-id=218%3A929

## Content

### The Problem

You want to introduce crypto to your friends - crypto and what it means to you (community, the fun building new stuff, working with lots of different ppl on one world computer...)

### The Solution

Gift crypto. S

[2018-11-29 15:25] Kisgus opened #8 "Update Github description"

[2018-11-29 15:26] Kisgus opened #9 "Write up giveth campaign description"

[2018-11-29 15:26] Kisgus opened #10 "UI end-to-end version 1"

[2018-11-30 12:58] seichris commented on #5
### The To Do's

- [ ] Who do we give the money?
- [ ] Milestones
- [ ] Giveth campaign description https://github.com/VolcaTech/cryptoxmas.xyz/issues/9
- [ ] Campaign picture
- [ ] Set campaign manager
- [ ] Someone to propose mile stones
- [ ] Someone then submit the milestone
- [ ] Someone to review milestones
- [ ] Set on a chat software. Set up a chat & people to help in the chat
- [ ] ...?

[2018-11-30 14:14] Kisgus commented on #5
I intended this to be only around the technical integration. The campaign itself, coms etc. I imagined to have in #9

[2018-11-30 14:14] Kisgus commented on #8
Done

[2018-11-30 14:14] #8 closed

[2018-11-30 14:19] seichris commented on #9
### The To Do's

- [ ] Who do we give the money?
- [ ] Milestones
- [ ] Giveth campaign description https://github.com/VolcaTech/cryptoxmas.xyz/issues/9
- [ ] Campaign picture
- [ ] Set campaign manager
- [ ] Someone to propose mile stones
- [ ] Someone then submit the milestone
- [ ] Someone to review milestones
- [ ] Set on a chat software. Set up a chat & people to help in the chat
- [ ] ...?

[2018-11-30 14:40] Kisgus commented on #10
Done. Now opening bug issues

[2018-11-30 14:40] #10 closed

[2018-11-30 14:41] Kisgus opened #18 "Make codebase ready for external contributors"

[2018-12-01 23:59] seichris commented on #7
Site is in a state which can be shown to the outside world. https://seichris.github.io/santa-landingpage/

ToDo:

- [ ] Set the DNS to cryptoxmas.xyz
- [ ] Link to a public telegram chat for crypto projects
- [ ] Put in some more pictures, once we got NFTs

[2018-12-02 10:30] Kisgus opened #21 "List of webapp UI minor bugs"
## Entering webapp

**Issue:** When loading the webapp the below UI  bug happens:

![screen shot 2018-11-30 at 2 40 48 pm](https://user-images.githubusercontent.com/18598519/49338652-719a6700-f624-11e8-87a4-e652246a5b6b.png)

**Fix**

- [x] Make Christmas tree and loading UI page static
 -[ ] If needed include round green materialize spinner

## Not connected to metamask

**Issue 1:** Font color/s

[2018-12-02 16:55] seichris opened #22 "Enable the sender to send NFTs with web2 without Metamask"
### Problem

Users may want to browse the NFTs, then pay with a mobile wallet, by scanning a QR code.

### Solution

Ask for connecting metamask not on the first page, but only when its first needed. Which is on the 'send' screen.

Show a QR code, with the proposed amount of ETH for the NFT.

It seems, we need to figure out how to do it with the current router: hardhttps://github.com/VolcaTech/cry

[2018-12-02 16:57] seichris commented on #22
It could be great UX, to not need to login for browsing the NFTs.

Would love to look into it. Maybe with Dongha.

[2018-12-03 08:11] seichris commented on #7
More ToDos:

- [ ] Modify logos
- [ ] Change that one big image
- [ ] Add footer
- [ ] Link medium

[2018-12-03 21:53] seichris commented on #22
A (UX) Bug related to this improved flow:

On first load, the site only shows me this circle. (Metamask is installed.) It should tell me to open my Metamask.

![tell the desktop user to enable metamask](https://user-images.githubusercontent.com/25006584/49403903-3eec8d80-f74e-11e8-9524-3b403967a20e.JPG)

[2018-12-03 23:05] Dobrokhvalov commented on #22
@seichris Sounds like WalletConnect flow or am I missing something? I'd love to integrate it.

But our app queries all information from blockchain, I believe in order to do that without web3 browser we should migrate from web3.js to ethers.js lib

[2018-12-03 23:11] #21 closed

[2018-12-03 23:28] Dobrokhvalov opened #25 "Cover Escrow Smart Contract with tests"
- [x] Add Waffle framework to test smart contracts - https://github.com/ethworks/waffle
- [x] Cover Escrow Contract with tests

[2018-12-04 07:31] seichris commented on #7
- [ ] logos 1.5x smaller
- [ ] header not sticky
- [ ] header logo same size as in dapp
- [ ] die links soll man sehen und auf mobile auch in weiss
- [ ] social links on mobile
 --------
- [ ] dapp desktop ready

[2018-12-04 09:30] Dobrokhvalov commented on #22
@seichris Right now we have to ask the user to enable metamask on the first screen as we query info from the Ethereum Blockchain via web3.js and I believe it's not available without Metamask. In order to allow to browse NFTs in web2 we need to migrate from web3.js to ethers.js

I would propose to split this issue in two:
1) Migrate from web3.js to ethers.js
2) Add wallet connect support

[2018-12-04 09:40] Dobrokhvalov opened #30 "Add other wallets support on Mobile"
@artyomignatyev please update Figma designs accordingly and forward this issue to @sashamihaha

![2018-12-04 12 39 28](https://user-images.githubusercontent.com/4770810/49432866-ab54a480-f7c1-11e8-9642-82606207d292.jpg)
![2018-12-04 12 39 20](https://user-images.githubusercontent.com/4770810/49432868-ab54a480-f7c1-11e8-8cbd-e73cbafd029d.jpg)

[2018-12-04 09:44] seichris opened #31 "Migrate from web3.js to ethers.js"
### Problem

The user should be able to browse NFTs, using a web2 browser.

### Proposed solution

Switch from web3.js to ethers.js library.

[2018-12-04 09:45] seichris commented on #31
@dakingha69 do you want to look into this?

[2018-12-04 09:52] seichris opened #32 "Add Wallet Connect support / Enable user to pay via QR code"
### Problem

The user should be able to buy NFTs using a web2 browser & his mobile wallet.

### Proposed solutions

Which one would be less work?

- Add Wallet Connect support.
- Wallet Connect may be too much. We only need to show a QR code, with the amount of ETH to be paid for the NFT. And check for the transfer confirmation.

### Prioritization

Its nice UX, but not needed for the launch.

###

[2018-12-04 09:52] seichris commented on #22
Split the issue in 2, as proposed by @Dobrokhvalov .

Dongha could look into the libraries. And the wallet connect support could be a nice bounty issue.

[2018-12-04 09:54] dakingha69 commented on #31
Should not be that much work to implement. Could look into this end of this week.

[2018-12-04 10:12] seichris opened #33 "[UX] Loading page should guide to sign in Metamask"
### Problem

(Metamask is installed & unlocked. But not signed in.)

On first load, the site only shows me this loading circle, without guiding me to check my Metamask.

![49403903-3eec8d80-f74e-11e8-9524-3b403967a20e](https://user-images.githubusercontent.com/25006584/49433984-7e00fa00-f7b3-11e8-95b4-ae1fa7ec1047.jpg)

### Proposed solution

The screen should tell me to open my Metamask.

### Pri

[2018-12-04 10:13] seichris commented on #33
Its the same problem with the eth2.io site.

Are you happy with this solution?

![untitled-1](https://user-images.githubusercontent.com/25006584/49434850-7a6e7280-f7b5-11e8-8b31-0b595b735eea.jpg)

[2018-12-04 10:38] artyomignatyev commented on #33
Glad you noticed, good proposed solution cc/ @sashamihaha need to fix this

[2018-12-04 11:47] artyomignatyev opened #34 "Another list of webapp UI minor bugs"
**Fix**
 - [x] "Powered by Volca" is above titile:

![image 2018-12-04 14 31 46](https://user-images.githubusercontent.com/6490508/49439326-caf3c900-f7d1-11e8-9cd2-805140b7ac1c.jpg)

 - [x] No link to "doesn’t need a crypto wallet" and no popup by clicking link:
(in figma: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Christmas-NFTs?node-id=112%3A0)

![image 2018-12-04 14 38 36](https://user

[2018-12-04 12:22] Dobrokhvalov opened #35 "Update charts on README.md"
Current charts on Readme page are not vaild. @seichris or @artyomignatyev please provide the nice designed charts for buying and claiming gift flow.

![2018-12-04 15 20 44](https://user-images.githubusercontent.com/4770810/49441673-4f494a80-f7d8-11e8-83aa-aea16e5f674e.jpg)
![2018-12-04 15 20 40](https://user-images.githubusercontent.com/4770810/49441674-4fe1e100-f7d8-11e8-9fe1-2a3b70f6982e.jpg)

[2018-12-04 12:51] artyomignatyev commented on #35
I'll work on that today

[2018-12-04 13:05] artyomignatyev opened #36 "Add popup with charity info to claimer's final screen"
Guys, I propose to add popup with info about charity at claimer's screen too so he or she also know about charity stuff. What do you think?

![screenshot 2018-12-04 at 15 59 21](https://user-images.githubusercontent.com/6490508/49443708-317ee400-f7de-11e8-8f5f-f2df0351771a.png)

[2018-12-04 13:08] artyomignatyev commented on #36
In figma: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Christmas-NFTs?node-id=114%3A691

[2018-12-04 13:38] artyomignatyev commented on #34
Looks good, thanks

@sashamihaha, frame in figma: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Christmas-NFTs?node-id=406%3A1

[2018-12-04 14:13] Dobrokhvalov commented on #36
@artyomignatyev but 1 eth goes to receiver, not charity here.
Only NFT price (minus claiming gas costs) goes to charity

[2018-12-04 14:46] Dobrokhvalov commented on #18
- [ ] Add server README
- [ ] Add Contracts README
- [ ] Add web app README
- [ ] Add general How To deploy locally guide

[2018-12-04 14:56] Dobrokhvalov commented on #35
@artyomignatyev The charts need to be updated as we moving donation proceeds from buy to claim.

- [ ] remove Giveth campaign from Buy flow (point 3)
- [ ] new Claim flow in the image below

![claim](https://user-images.githubusercontent.com/4770810/49450381-ea005400-f7ed-11e8-9b1a-1574b2f1242e.jpg)

[2018-12-04 15:01] Dobrokhvalov commented on #18
- [ ] Add config file to web-app

[2018-12-04 15:30] #9 closed

[2018-12-04 15:31] #7 closed

[2018-12-04 15:54] Kisgus opened #38 "Landing page v2"

[2018-12-04 15:56] artyomignatyev commented on #36
Right, I updated the screens

[2018-12-04 19:30] artyomignatyev commented on #36
Updated: added new popup by clicking "Nifty token" link. @sashamihaha note that we added (?) icon near links, need to add to all screens with popups, check it out
(In figma: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Crypto-Xmas?node-id=126%3A526)

![screenshot 2018-12-04 at 22 24 57](https://user-images.githubusercontent.com/6490508/49467741-2e064f80-f814-11e8-9e63-7dec77a3b62f.png)

[2018-12-04 19:45] seichris commented on #38
- [ ] Change the Zombie NFTs into one of ours
- [ ] implementing a nifty subpage

[2018-12-04 20:04] seichris opened #39 "Implement support for ERC20 tokens / DAI"
# This is a ✨ [Cryptoxmas.xyz](https://cryptoxmas.xyz/) bounty✨
**Every bounty DAI paid out will be matched as a donation to this** [Venezuelan Giveth Campaign](https://release.giveth.io/campaigns/5c05357a4a1382778fc07cef)

## Christmas ERC20 Quest

Our DApp aims to make receiving ETH & NFTs as easy as possible, **for people without Ethereum wallet**.

This means, we have to put an extra effort on

[2018-12-04 20:04] seichris commented on #3
https://github.com/VolcaTech/cryptoxmas.xyz/issues/39

[2018-12-04 20:04] #3 closed

[2018-12-04 22:03] sashamihaha commented on #30
fixed in - https://github.com/VolcaTech/cryptoxmas.xyz/pull/40

[2018-12-04 22:49] artyomignatyev commented on #35
![buy flow](https://user-images.githubusercontent.com/6490508/49478109-f73e3280-f82f-11e8-8b4e-dd768b3a58ab.png)

![claim flow](https://user-images.githubusercontent.com/6490508/49478114-fc9b7d00-f82f-11e8-8051-903e90635c9f.png)

[2018-12-04 23:34] #35 closed

[2018-12-04 23:38] artyomignatyev commented on #34
- [ ] Raise the image (GIF) above gray text
- [ ] Gray text align a little bit right
(frame in firgma: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Crypto-Xmas?node-id=114%3A559)

![processing](https://user-images.githubusercontent.com/6490508/49480165-b564ba80-f836-11e8-8a90-72d4a4594540.png)

[2018-12-05 00:41] #30 closed

[2018-12-05 00:41] #33 closed

[2018-12-05 01:00] #18 closed

[2018-12-05 11:21] Dobrokhvalov opened #44 "Implement pricing scheme for NFTs (rare/less rare NFTs)"
To make the app more engaging we would like to have some NFTs more rare that others (like Gitcoin Kudos).

- More rare tokens should cost more.
- The pricing logic should be implemented at the smart-contract level, so that it's not possible to cheat.
- Bear in mind that other dapps can propose their own tokens with their own pricing logic.

[2018-12-05 11:45] seichris commented on #4
Lets do a design first and make this only a coding issue

[2018-12-05 11:57] Dobrokhvalov opened #45 "Group NFTs per Dapp"
DApps can provide their tokens to join our campaign. We need to group NFTs accordingly.

[2018-12-05 16:38] seichris commented on #9
It would be cool to sort Donations by price, to see a hall of fame, with the highest donors.

[2018-12-05 19:14] artyomignatyev opened #46 "Upload Nifties to IPFS"
Original images in figma: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Crypto-Xmas?node-id=663%3A1

Uploading via https://canshare.io

[2018-12-05 20:18] seichris commented on #45
Its an interesting question governance-wise. We could put new submissions on top, or sort them differently. And implement a filter in the frontend.

[2018-12-05 21:49] artyomignatyev commented on #46
Ded Moroz for the test. @Dobrokhvalov please, could you check if everything is all right with these files?

Ded Moroz 1: https://ipfs.infura.io/ipfs/QmbLR9VpdRKL6nb13BFJmDXYBjCdMvGyoP69VRdJoEZgP8
Ded Moroz 2: https://ipfs.infura.io/ipfs/QmZPiwDLeDaaPp5jatbDUAftxnNGrdEDomhDSLmk2ztB23
Ded Moroz 3: https://ipfs.infura.io/ipfs/QmeW9VoBpLUh2fHV4k6Dm8sgf5RTgmht1VGBGMLYb2GFbu

[2018-12-06 00:48] Dobrokhvalov commented on #46
yep, looking good

[2018-12-06 07:38] seichris commented on #44
@artyomignatyev yes. The minimal version of this, is to just show the price, as we already do. My preferred version is to also show the rarity (number of sold tokens) in the top left, like so:

![rarity](https://user-images.githubusercontent.com/25006584/49568749-32288f00-f932-11e8-94e0-3d8c5540470e.JPG)

[2018-12-06 11:11] seichris commented on #44
There is two classes of NFTs: Rare tokens & unique tokens.

## Rare vs. Unique

**Rare:**
- Rare card NFTs are limited to different amounts
- Rare cards are priced in intervals from ~2 to ~100 USD

**Unique:**
- Each unique cards is one unique NFT
- Unique cards have an individual price, because
- Unique cards can have a special feature

### Naming & Pricing & Amounts

**Rare:**
Common = 0.02 eth

[2018-12-06 14:08] vikaskyadav commented on #4
@Kisgus  give me some idea where to write the code.u.e. in which component...

[2018-12-06 14:10] filips123 commented on #4
Should message be changed when user try to send card or when card is created?

[2018-12-06 14:31] Dobrokhvalov commented on #4
@Kisgus @vikaskyadav @filips123 Let's reduce the scope of the issue for easier implementation.
I'd propose to add message to IPFS storage on buying screen on click on the "Buy & send" button.
<img width="516" alt="2018-12-06 17 27 18" src="https://user-images.githubusercontent.com/4770810/49590173-3c6f7b00-f97c-11e8-83d9-4be62a961372.png">

Here's the corresponding component - https://github.com/V

[2018-12-06 14:34] filips123 commented on #4
@Dobrokhvalov I have already started this. Add added message field to send screen. I now want to know how to add message to IPFS and fetch it when receiving.

[2018-12-06 14:41] Dobrokhvalov commented on #4
@filips123 Awesome! Ignore receiving part, just focus on adding message to IPFS (that's something you need to figure out by yourself). I'll handle the receiving part later. If you stuck or need any help, just ask me. I'm the core developer of this project. You can also find me on Telegram ( @dobrokhvalov ) for quicker communication.

[2018-12-06 14:44] filips123 commented on #4
@Dobrokhvalov OK. Thanks for answer. Will (when) will you update smart-contract so I could make progress? It should have some method to set and to get IPFS hash.

[2018-12-06 14:47] Dobrokhvalov commented on #4
@filips123 Working on that today, hopefully will finish that by tomorrow. However, you can just focus on adding text to IPFS for now, I can integrate it with smart-contract later by myself. Anyways, will let you know when I add needed methods to the Escrow smart contract.

[2018-12-06 15:33] filips123 commented on #4
I made that message will be saved to IPFS using IPFS HTTP client.

I am now trying to build this, but I get error:

[code]

It looks like this is problem with IPFS in [this file](https://github.com/ipfs/js-ipfs-http-client/blob/master/src/files-mfs/ls-readable-stream.js#L40). It is probably problem with triple dots.

I tried to fix this using `stage-0`, `stage-1`, `stage-2` and `stage-3` in preset

[2018-12-06 15:38] Dobrokhvalov commented on #4
Can you make a PR to dev branch please, I'll have a look. Meanwhile feel free to try updating webpack or configuring webpack from scratch.

[2018-12-06 15:50] filips123 commented on #4
@Dobrokhvalov I created PR #50.

[2018-12-06 16:32] Kisgus opened #51 "Translate cryptoxmas content into Spanish"
## Why

We are supporting Venezuelans, and should provide easy access for Spanish people to follow, contribute & use cryptoxmas.xyz

## What

- [ ] Giveth campaign https://release.giveth.io/campaigns/5c05357a4a1382778fc07cef translated into spanish

- [ ] Webdapp translated into Spanish https://app.cryptoxmas.xyz/

- [ ] Landing page translated into Spanish https://cryptoxmas.xyz/

## How

Do you

[2018-12-06 16:38] Dobrokhvalov commented on #4
@filips123 Updated webpack to compile with ipfs library - https://github.com/VolcaTech/cryptoxmas.xyz/commit/f4c7c4cf29e3b34c3f38e960df22be565a24019d

Added small fixes (check it out in https://github.com/VolcaTech/cryptoxmas.xyz/tree/card-message branch) and it works! Great job, @filips123!

@Kisgus As updating the contract is blocker to move this further, I'd propose to close this issue and pay

[2018-12-06 16:57] artyomignatyev commented on #4
I come up with this kind of solution for UI, @Dobrokhvalov let me know what you think

"Add ETH?" — form
"Message?" — button which lead to screen with form for adding the message (see below)

![screenshot 2018-12-06 at 19 56 09](https://user-images.githubusercontent.com/6490508/49599069-186a6480-f991-11e8-937f-7d5b6dd67836.png)

[2018-12-06 17:01] filips123 commented on #4
It looks like @artyomignatyev also make this feature. Is it possible that you pay out both to me and @artyomignatyev or create another bounty?

[2018-12-06 17:07] artyomignatyev commented on #4
@filips123 no worry 🙂 I'm only help with UI and do not claim reward

[2018-12-06 19:21] seichris commented on #38
- [ ] Show a screenshot of the DApp next to the main headline

[2018-12-06 20:00] seichris commented on #51
We only need the translations. The implementation we can do ourselves.

[2018-12-07 13:31] seichris commented on #44
@Dobrokhvalov proposed to raise the minimum price to 0.1 eth.

What is your take @artyomignatyev @Kisgus ?

[2018-12-07 14:43] seichris opened #55 "Set process for incoming NFTs"
## Scenario 1: One bounty per theme
- running 1 month
- cooperative mode
- linking to our [project board](https://github.com/VolcaTech/cryptoxmas.xyz-images/projects/1), full of NFT issues to choose from and add to
- The project board has one tab per theme, hosting all issues for this theme ("venezuela", "christmas", "crypto memes"...). Each tab represents a [NFT group in the DApp](https://github.

[2018-12-07 14:50] seichris commented on #55
placehodler for my answers on the questions

Questions:
- Scenario 1 or 2?

-> 1

Questions:
- Can gitcoin cooperative mode be continuously funded? (by us & friendly DApps)
what about bounty network?

Questions:
- Do they have to fill out the google form? (with the legal statement)
- Do we decide to implement into the app or not?

Questions:
- The process should not be different for a DApp or a in

[2018-12-07 22:48] Dobrokhvalov commented on #31
Hey @elemino, as I'm currently updating escrow smart-contract (will update by tomorrow), you can ignore sending and claiming screens. Just connecting to Metamask via ethers and fetching tokens from smart-contract is enough for the scope of this issue :)

[2018-12-07 22:58] artyomignatyev commented on #4
@sashamihaha design in figma: https://www.figma.com/file/PlyeDvrw4urSl1qES13QzBhX/Adding-Message?node-id=0%3A1

![screenshot 2018-12-08 at 01 57 47](https://user-images.githubusercontent.com/6490508/49676859-b2630780-fa8c-11e8-8fee-bd79c0955e38.png)

[2018-12-08 03:35] Dobrokhvalov commented on #25
Finally implemented in https://github.com/VolcaTech/cryptoxmas.xyz/pull/57

[2018-12-08 03:35] #25 closed

[2018-12-08 03:35] Dobrokhvalov commented on #5
Implemented in https://github.com/VolcaTech/cryptoxmas.xyz/pull/57

[2018-12-08 07:32] sashamihaha commented on #4
UI implemented in https://github.com/VolcaTech/cryptoxmas.xyz/pull/59

[2018-12-08 13:04] Kisgus commented on #4
Awesome teamwork!

[2018-12-08 13:04] #4 closed

[2018-12-08 13:04] #5 closed

[2018-12-08 13:09] Kisgus commented on #34
Is this fixed yet guys or should I leave it open?

[2018-12-08 13:09] Kisgus commented on #38
Whats missing on this boy?

[2018-12-08 14:07] Kisgus opened #61 "Postpone Metamask integration"
# This is a ✨ [Cryptoxmas.xyz](https://cryptoxmas.xyz/) bounty✨
**Every bounty DAI paid out will be matched as a donation to this** [Venezuelan Giveth Campaign](https://release.giveth.io/campaigns/5c05357a4a1382778fc07cef)

## Userstory

**As a user I want to be able to** view Christmas Cards before being asked to login via metamask,
**so that I can** see the selection of images from a normal web2

[2018-12-08 15:06] seichris commented on #61
Same issue as this one https://github.com/VolcaTech/cryptoxmas.xyz/issues/31

[2018-12-08 15:41] Dobrokhvalov commented on #61
They have different scopes. This one postpones connection to Metamask, #31 is for changing js libraries.
#31 is purely technical, doesn't have updates to the UI.
Having #31 implemented, we can start working on this one.

[2018-12-08 16:38] sashamihaha commented on #34
Not yet. I don't have the footer bug on any of my devices, and I can't reproduce it to fix. Guess this bug only appears on iPhone.

[2018-12-08 18:30] Dobrokhvalov commented on #45
Closing is we don't have a lot of partner tokens and decided to group tokens by price/uniqueness category. Will be implemented in #44

[2018-12-08 18:30] #45 closed

[2018-12-08 22:31] artyomignatyev commented on #46
@Dobrokhvalov done: https://www.notion.so/artyom/8634efb32fd5439799bc6dfbbb6091c1?v=2ef2384b03fd4503bd394313ac8d3090

[2018-12-09 08:11] seichris opened #67 "CryptoXmas ft. Mintable.app - Implement a mobile UI for minting NFTs"
**[Mintable.app](https://mintable.app/create)** makes it easy to mint an NFT with a custom image. **[CryptoXmas](https://cryptoxmas.xyz/)** makes it easy to send NFTs to anyone, but we lack on images. Joining forces, we may be able to make it easier for 'the normal user' to integrate his NFT in our DApp. So we can raise more funds for Venezuelans.\\

## How could this look like?

- Use the Crypto

[2018-12-09 08:31] seichris commented on #61
So, in the UI there is 3 states, we have to "postpone" then.

### Loading, because not signed

Right now:
[screenshot]

Postpone to "buy & send" screen. How should it look like?

### No Metamask installed

Right now:
[screenshot]

Postpone to "buy & send" screen? Full screen or popup or...?

Fixes:
- Gray text under button: "Metamask addon for Chrome, Firefox"

### Wrong network

Right now:
[scree

[2018-12-09 09:54] seichris commented on #67
Comment from @Dobrokhvalov was that this integration is currently out of scope. Mainly because with our rarity scheme its easier to mint tokens ourselves.

Let's keep this integration in mind for the next version then.

[2018-12-09 12:55] seichris commented on #38
Tell me

[2018-12-09 18:41] #38 closed

[2018-12-10 10:43] seichris commented on #44
Update. We cut _Common_ and set 100 pieces for _Special_:

Special = 0.05 eth = 100 pieces
Rare = 0.1 eth = 50
Scarce = 0.2 eth = 33
Limited = 0.5 eth = 20
Epic = 1 eth = 10

@sashamihaha we need to update this in the UI. I updated it in the figma

I will prepare a pricing sheet.

[2018-12-10 16:48] danfinlay commented on #61
FYI, you don't need to ask a user to open MetaMask to log in anymore, thanks to the new method `ethereum.enable()`:
https://medium.com/metamask/eip-1102-preparing-your-dapp-5027b2c9ed76

[2018-12-10 19:09] Kisgus opened #77 "Smart-Contract Bug Bounty"
# This is a ✨ [Cryptoxmas.xyz](https://cryptoxmas.xyz/) bounty✨

**Every bounty DAI paid out will be matched as a donation to this** [Venezuelan Giveth Campaign](https://release.giveth.io/campaigns/5c05357a4a1382778fc07cef)

## Scope

Below smart contracts are within scope of the bug bounty:

-[NFT.sol](https://github.com/VolcaTech/cryptoxmas.xyz/blob/master/cryptoxmas-contracts/contracts/NFT.sol)

[2018-12-10 20:50] sashamihaha commented on #34
fixes done

[2018-12-11 00:58] Dobrokhvalov commented on #44
Implemented in https://github.com/VolcaTech/cryptoxmas.xyz/pull/79

[2018-12-11 00:58] #44 closed

[2018-12-11 09:20] Elemino commented on #31
Hello, I will attempt to submit a pull request over the new two days. Cheers.

[2018-12-11 10:44] #34 closed

[2018-12-11 10:54] ceresstation commented on #51
Hey @mestorlx you're good to go :) @seichris where should the translations be updated, can you add more detail there.

[2018-12-11 12:32] seichris commented on #51
Thanks for helping with translations @mestorlx !

Let's work in [this google doc](https://docs.google.com/document/d/1Cc51LY3JNH2Ux_R5uNDqZJw-V0w6yAbhgJGrzHHbJqM/edit?usp=sharing). Does that work for you? Please let us know, when you start.

[2018-12-11 12:37] #6 closed

[2018-12-11 13:05] seichris commented on #67
Closing this issue, because its not in the scope for Christmas. Will stay in contact with Zack on telegram.

[2018-12-11 13:05] #67 closed

[2018-12-11 14:23] PumpkingWok commented on #77
Hi @Kisgus,
First of all thank you for posting this bug bounty. I have noticed that the `imports` format is not compatible with remix for instance, i think it has to use a framework like embark for importing the external contracts correctly with this format.
Thanks in advance

[2018-12-11 15:30] stephien commented on #51
Hi guys.

I'll like to participate by doing the translation. I was actually doing it locally because I didn't saw any other info about the bounty. I'm a native spanish speaker.

[2018-12-11 15:47] Dobrokhvalov commented on #77
Hey @PumpkingWok, please check building instructions here - https://github.com/VolcaTech/cryptoxmas.xyz/tree/master/cryptoxmas-contracts#building-contracts

[2018-12-11 15:49] seichris commented on #51
@stephien thanks for jumping in! Lets simply coordinate in the google docs.

[2018-12-11 17:01] stephien commented on #51
All the translations I did are now in the Google Doc. If you need help matching the strings to the English ones let me know.

How do I do the Gitcoin thing? I've used GitHub login but I don't see any options.

[2018-12-12 14:45] seichris commented on #51
@stephien we opened the bounty for only one contributor.

@Kisgus can you make sure to pay the guys? Maybe you can change the bounty type to 'cooperative'.

[2018-12-13 11:39] seichris opened #91 "Guide receiver into the web3"
Imagine you just sent a Christmas card link to your friend Maria. You added some ether, so she can play with a couple of DApps. Luckily you are sitting next to her when she opens the link. She installs the wallet and you start showing her all those fancy DApps. You buy a cryptokitty, swap some stable coins, bet on some weird Chinese prediction market. You even try to explain how a decentralized ex

[2018-12-13 12:11] seichris commented on #61
Thanks for the reminder @danfinlay . We are using `ethereum.enable()` already and hope we can update the UX on this flow in this issue, so web2 users actually can surf our NFTs.

@artyomignatyev i updated the figma screenshots above.

[2018-12-13 12:17] seichris commented on #91
One obvious call we are missing atm, is telling the receiver to check out the Giveth campaign. It's great to track your friends funds down and read about the funding goal, milestones, etc.

[2018-12-14 09:40] seichris opened #97 "Generate a batch of Christmas Card links"
@pepae suggested to implement a feature to send many cards in one flow, because it digs into corporates tradition to send christmas cards to all their clients.

As user i want to

- select different cards
- select one message and an amount of ETH to be included in all the cards
- select different messages and amounts of ETH
- pay in one transaction
- get a list of payment links
- copy the links in

[2018-12-14 14:01] seichris opened #98 "[Dapp UI] Clarify the main dapp page"
- Two sections with a clear message what to expect from service
- Explanatory description with link to popup
- One popup for how it works and which charity
- Same for desktop version

[2018-12-14 14:04] seichris opened #99 "[Dapp UI] Update final page for receiver"
- Update final page for receiver: tweak UI for copy and send the link

[2018-12-14 14:05] seichris commented on #99
@artyomignatyev not sure if you updated this already. Does Sascha need to implement it still?

[2018-12-14 14:14] seichris opened #100 "[Dapp UI] Error screens"
### If u open app.cryptoxmas.xyz in a web2 browser

#### on mobile

update header: "To send or receive gifts you need the Metamask browser addon"
& update button text (see figma & screenshot)

#### on desktop

update header: "To send or receive gifts you need an Ethereum wallet app"
& update button text (see figma & screenshot)

![alt text](https://i.imgur.com/2KITXSx.jpg)

[2018-12-14 15:32] srisankethu commented on #77
Documentation: "... address  transit address ..." is a mistake [here](https://github.com/VolcaTech/cryptoxmas.xyz/blob/master/cryptoxmas-contracts/contracts/CryptoxmasEscrow.sol#L265)

[2018-12-14 16:21] srisankethu commented on #77
What if ``gift = gifts[_transitAddress]`` is None i.e ``gift = None``? But we are returning ``gift.tokenId`` without any ``require()`` to check if ``gitft`` is not ``None``. Similar case for ``category = tokenCategories[tokenUri]``. Like [here](https://github.com/VolcaTech/cryptoxmas.xyz/blob/master/cryptoxmas-contracts/contracts/CryptoxmasEscrow.sol#L268)

[2018-12-14 16:26] vittominacori opened #101 "Minting behaviour"
Hey guys, by your contracts' code is seems that only owner is able to mint new tokens and the owner is the escrow contract that doesn't have a transferOwnership method.

It means that you could never transfer token's ownership so you can't change your escrow contract if you discover a bug or if you just want to change your minting behaviour.

Why don't you create a minter role so you can add and r

[2018-12-16 10:41] ceresstation commented on #51
Hey @stephien I haven't heard anything from the other contributor, if you've completed the translations I'd be happy to pay you out instead.

[2018-12-16 11:05] mestorlx commented on #51
@ceresstation actually I was approved to start working but before I did my submission @stephien made his in the google doc as specified by @seichris .

[2018-12-16 14:37] seichris commented on #51
Cool, thanks for understanding @mestorlx We'll follow our bounty terms closer, next time.

@ceresstation can you pay out @stephien ? Or do you need @Kisgus to finalize?

[2018-12-17 08:33] srisankethu commented on #77
@Kisgus Should [this](https://github.com/VolcaTech/cryptoxmas.xyz/blob/master/cryptoxmas-contracts/contracts/CryptoxmasEscrow.sol#L163) be an ``internal`` function? This is a simple check which is used internally.

[2018-12-17 14:13] Dobrokhvalov commented on #77
@srisankethu Thanks for auditing the code! `canBuyGift` is public, because it should be used on the front-end as an additional check if user is able to buy gift and that transaction can go through :)

Thanks for pointing out to `solhint`, will use it for the next projects! 👍

[2018-12-17 15:47] srisankethu commented on #77
If the gift wasn't claimed, then why do [this](https://github.com/VolcaTech/cryptoxmas.xyz/blob/master/cryptoxmas-contracts/contracts/CryptoxmasEscrow.sol#L311)?

[2018-12-17 15:48] stephien commented on #51
Hi all. This is my ETH address 0xf19A400D02168340e109A67DC0A08D5d77195F66

Thanks for letting me contribute to this great project. If you need help matching the strings to the English ones let me know.

[2018-12-17 17:43] mohoff commented on #77
Hi, I submitted some findings 6 days ago via e-mail. Just seeing that you fixed these issues on the same day, @Dobrokhvalov . I haven't received any reply from you guys since my submission.

Any news?

[2018-12-17 18:43] Dobrokhvalov commented on #77
Hey @mohoff , I agree with your findings, thanks for the contribution. @Kisgus should have answered you via email and handle the pay out.

[2018-12-17 19:52] artyomignatyev opened #106 "[Dapp UI] Final improvements"
All figma frames under pink background: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Crypto-Xmas?node-id=1104%3A271

Marked all changes with pink rectangles above changed things + text with comments under frames.

Added screens with Gifts history.

[2018-12-18 09:11] seichris opened #107 "[Dapp UI] Add button to send more cards"
In the loading screen, the user wants an option to go back and send more cards.

Apparently it does not work to click on the logo to go back:

"I clicked on the CryptoXmas link at top and it redirects to app.cryptoxmas.xyz then it's hanging for me, with the message to open my wallet..  but my wallet is still open.."

### Solution

Add a button to direct to the NFT home screen.

![add button to go

[2018-12-18 09:21] mohoff commented on #77
You're welcome! Thanks, @Kisgus hasn't reached out yet

[2018-12-18 09:52] Kisgus commented on #77
Hey @mohoff sorry for the delay.  Your submission was valid and you will get your bounty, which is funded by Gitcoin themselves.  In order to be able to send you your part, you need go to https://gitcoin.co/ and press "Submit work", this will enable Gitcoin to pay out your bounty.

[2018-12-18 10:57] artyomignatyev commented on #107
Nice, I agree with adding a button here. I guess need a quick look from @Dobrokhvalov, maybe will need some back-end changes.

Updated screen in figma

[2018-12-18 15:49] Dobrokhvalov commented on #91
@artyomignatyev @seichris can you guys please sketch a design for what's @GriffGreen suggesting, I'd love to implement that!

[2018-12-18 17:15] seichris commented on #91
@GriffGreen To be sure. This scenario is not possible:

_We ask the giver to add "a" name to a text field, and send this name with the transaction. Once the transaction is through, the giveth dapp UI shows this name instead of the giver's eth address._

Instead the user has to go to https://beta.giveth.io/profile to add & update his info?

-----

@artyomignatyev please have a look at my designs in

[2018-12-19 03:03] sashamihaha commented on #106
improved in https://github.com/VolcaTech/cryptoxmas.xyz/pull/109

[2018-12-19 08:27] seichris opened #110 "[Dapp UI] add description for unique tokens"
Right now, a user cannot see a unique token's attributes. E.g. The token holder getting a merchandise mug. Proposed two possible fixes in figma.

[see Artyom's final screens in figma]

Additionally we could show the text on the index already, if you click the card?! What do you think @artyomignatyev

[2018-12-19 10:23] seichris commented on #106
good job Sascha! Two things we need need to fix:

- the gray rarity labels? can u verify @artyomignatyev ?
- typo in the send&buy screen "Add pesonal message & ETH for your friend" -> pesonal needs an 'r'

[2018-12-19 12:31] artyomignatyev commented on #110
Updated: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Crypto-Xmas?node-id=1154%3A1836

[2018-12-19 13:01] artyomignatyev commented on #106
@seichris yep, gray cc/ @sashamihaha

[2018-12-19 14:49] artyomignatyev commented on #91
![screenshot 2018-12-19 at 17 43 25](https://user-images.githubusercontent.com/6490508/50227025-c6283b00-03b5-11e9-8958-111fcc948514.png)

Updated in figma: https://www.figma.com/file/YcB7MJacjZGxnbkgIpqCkkUe/Crypto-Xmas?node-id=0%3A1

@Dobrokhvalov @sashamihaha you can start to implement this

[2018-12-19 18:09] GriffGreen commented on #91
I think that is easiest because we need the user to switch to the Rinkeby network and send a transaction there, we also offer them the option of putting int their email and putting up a picture.

[2018-12-19 18:18] GriffGreen commented on #91
And can i suggest different text for the giveth button?

"Want to attribute your donation? Create a Giveth profile!"

(on the button)  "Create a Profile"

[2018-12-19 19:43] sashamihaha commented on #110
implemented in https://github.com/VolcaTech/cryptoxmas.xyz/pull/113

[2018-12-20 11:15] artyomignatyev commented on #91
Sounds good to me, will change it in figma

[2018-12-20 11:19] artyomignatyev commented on #91
![screenshot 2018-12-20 at 14 19 22](https://user-images.githubusercontent.com/6490508/50281970-486e3900-0462-11e9-908d-857eb0b51363.png)

[2018-12-20 11:20] artyomignatyev commented on #91
@sashamihaha let's start implement this

[2018-12-21 02:52] ceresstation commented on #51
Hey @mestorlx sorry about that, if you helped with the translation though and @Kisgus can you confirm I'm happy to tip you as well, want to make sure everyone gets some reward for helping out :)

[2018-12-21 11:21] Elemino commented on #31
Please allow me to make another commit within the next two days. Unless somebody can provide a solution now.

[2018-12-23 20:44] mestorlx commented on #51
@ceresstation I did not contribute to the translation.
Thanks for checking though.

[2018-12-24 08:36] srisankethu commented on #77
Can someone address my [comment](https://github.com/VolcaTech/cryptoxmas.xyz/issues/77#issuecomment-447862976)?

[2018-12-26 11:50] Kisgus commented on #77
hey @srisankethu thanks for your great work, we appreciate it a lot and wish you a happy Christmas.
@ceresstation please be so kind to pay out a bounty for @mohoff for 1 critical and 1 minor bounty identified

[2018-12-26 12:18] #39 closed

[2018-12-26 12:18] #110 closed

[2018-12-26 12:18] #106 closed

[2018-12-26 12:18] #55 closed

[2018-12-26 12:19] #61 closed

[2018-12-28 23:42] mohoff commented on #77
@ceresstation, @Kisgus That would be great, I submitted on gitcoin 9 days ago

[2019-01-01 22:28] spm32 commented on #77
Sorry for the delay @mohoff, happy holidays! Just paid you out.

[2019-01-02 10:26] mohoff commented on #77
Thanks a lot! Happy new year!

[2019-01-03 06:10] StevenJNPearce opened #121 "Send donation from receiver instead of sender"
- Move call to _makeDonation from buyGift to claimGift
- Update tests

@GriffGreen suggested this on telegram. Opening the issue here to remind myself to implement it.

[2019-01-14 06:58] hatgit commented on #31
Hi All, is there another PR that @Elemino is submitting for consideration of the Gitcoin bounty payout? If not, @Kisgus please review Elemino's latest submission and kindly provide an update here. Thanks!

[2019-01-14 12:01] Kisgus commented on #31
Hey @hatgit I believe @Elemino will be submitting a new PR pretty soon, is that correctly understood?
Elemino and I have been I dialogue around this on telegram, as he is aware we are now about to merge our codebase with https://github.com/RadiCards/radi.cards which are not using react.js but vue.js.

[2019-01-15 03:38] Elemino commented on #31
Yes. I am still working on this. Will submit PR soon.

[2020-05-07 13:51] #101 closed